.products-wrapper {
  margin-top: 60px;
  /* padding-bottom: 50px; */
  padding: 50px;
  margin-bottom: 70px;
}
.category {
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(255, 224, 229);
  cursor: pointer;
}
.category:hover {
  background-color: rgb(243, 203, 190);
}
.card {
  /* height: 450px; */
  height: fit-content;
  /* text-align: center; */
  /* width: fit-content; */
  margin-top: 50px;
  background-color: rgb(244, 245, 247);
  border-radius: 10px;
}
.product-img {
  width: 100%;
}
.product-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.125);
  /* max-width: 200px; */
}
.product-details {
  text-align: center;
  margin-top: 33px;
  padding: 10px;
}
/* .btn {
  width: 215px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid silver;
  background: white;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
} */

