.description-Wrapper {
    padding: 130px;
}
p, h1{
    text-transform: capitalize;
}
.productImage {
    height: auto;
    width: 400px;
}
.product-wrapper {
    display: flex;
}
.description-details {
    margin-left: 90px;
}
/* .add-to-cart {
    height: 50px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
} */