.nav {
  background: #000;
  display: flex;
  padding: 20px;
  color: #ffff;
  align-items: center;
  justify-content: space-around;
}
ul {
  list-style: none;
  display: flex;
  cursor: pointer;
  align-items: center;
}
li {
  margin-left: 40px;
  font-size: 20px;
}
.brand-name {
  font-size: 30px;
  color: #ffffff;
}
.icons {
  display: flex
}
.signUpText {
  font-size: 20px;
  cursor: pointer;
  margin-right: 32px;
}
